@page "/evidence"

<h1>Evidence!</h1>

<div class="p-2 border">
    <label>Datum: <input type="date" @bind-value="Evid.Polozka.Datum"/></label>
    <label>Náklady: <input type="number" @bind-value="Evid.Polozka.Naklady"/></label>
    <label>Výnosy: <input type="number" @bind-value="Evid.Polozka.Vynosy" /></label>
    <button @onclick="Evid.Pridat">Přidat</button>
</div>
<!--margin je vnejsi ohraniceni, my znamena margin z osy y-->
<div class="my-2 p-2 border">
    <button class="btn btn-success" @onclick="Evid.ZobrazAll">Zobraz vše</button>
    <button class="btn btn-warning" @onclick="Evid.ZobrazPocetZaznamu">Počet záznamů</button>
    <button class="btn btn-danger">Statistiky</button>
</div>
<div class="my-2 p-2 border">
    <p>@((MarkupString)Evid.Vypis)</p>
</div>

@code {
    private Models.Evidence Evid { get; set; } = new Models.Evidence();
}
